<div class="contato">
  <img [src]="'../../assets/working.jpg'" [alt]="'working'" />
  <span> Pagina indisponível </span>
  <div class="botoes">
    <a
      class="button fancy-button indisponivel"
      href="https://www.youtube.com/"
      target="_blank"
    >
      YouTube
    </a>
    <a
      class="button fancy-button indisponivel"
      href="https://www.instagram.com/"
      target="_blank"
    >
      Instagram
    </a>
    <a
      class="button fancy-button indisponivel"
      href="https://www.linkedin.com/"
      target="_blank"
    >
      LinkedIn
    </a>
  </div>
</div>
